

	<div class="container">
		<h1 class="page-title">商品編集画面</h1>
		<form action="" method="">
			<dl>
				<dt class="products-title">商品名</dt>
				<dd class="products-detail"><input type="text" name="title" id="title"></dd>
				<dt class="products-title">価格</dt>
				<dd class="products-detail"><input type="text" name="title" id="price"></dd>
				<dt class="products-title">数量</dt>
				<dd class="products-detail"><input type="text" name="amount" id="amount"></dd>
				<dt class="products-title">商品説明</dt>
				<dd class="products-detail"><textarea name="description" id="description" cols="30" rows="10"></textarea></dd>
			</dl>
			<p><a href="/" class="btn-warning btn-back">一覧に戻る</a><input type="submit" value="編集" class="btn-primary btn-act"></p>
		</form>
	</div>





